@namespace FUCKSHIT.UI
@inherits Panel

@if ( !Character.IsValid() )
	return;

<Popup Title="My Character">
	<Content>
		<div class="container">
			<CharacterRenderer />

			@foreach ( var slot in Enum.GetValues<EquipmentSlot>() )
			{
				if ( slot == EquipmentSlot.None ) continue;

				<EquipmentPanel 
					Slot=@slot 
					Container=@_container
				/>
			}
		</div>

		<div class="container dark">
			<ContainerDisplay 
				Container=@Character.Inventory 
				@ref=_container
			/>
		</div>
	</Content>
</Popup>

@code {
	private Character Character => Character.Local;
	
	private ContainerDisplay _container;

	protected override int BuildHash() 
		=> HashCode.Combine( 
			Character.IsValid() 
		);
}
