@import "/UI/Style.scss";

Tabview {

    > Popup {
        pointer-events: all;

        > .content {
            > .container {
                position: relative;
                width: 600px;
                height: 800px;
                height: 800px;
                padding: 30px 30px;

                &.dark {
                    background-color: darken($dark-gray, 0.8);
                }
            }
        }

        CharacterRenderer {
            position: absolute;
            width: 100%;
            height: 68%;
            top: 0px;
            left: 0px;
        }

        EquipmentPanel {
            position: absolute;
        }
    }
}