@namespace FUCKSHIT.UI
@inherits Panel

@if ( !Character.IsValid() )
	return;

<Popup Title=" " ShowCloseButton=@false>
	<ChildContent>
		<div class="container">
			<CharacterRenderer />

			@foreach ( var slot in Enum.GetValues<EquipmentSlot>() )
			{
				if ( slot == EquipmentSlot.None ) continue;

				<EquipmentPanel 
					Slot=@slot 
					Container=@_container
				/>
			}
		</div>

		<div class="container">
			<ScrollView CanDragScroll=@false>
				<ChildContent>
					<ContainerDisplay 
						Container=@Character.Inventory 
						@ref=_container
					/>
				</ChildContent>
			</ScrollView>
		</div>
	</ChildContent>
</Popup>

@code {
	private Character Character => Character.Local;
	
	private ContainerDisplay _container;

	protected override int BuildHash() 
		=> HashCode.Combine( 
			Character.IsValid() 
		);
}
