@namespace FUCKSHIT.UI
@inherits Panel

@if ( !Character.IsValid() )
	return;

<root>
	@* Left-side player window *@
	<div class="window">
		<div class="container">
			<CharacterRenderer />

			@foreach ( var slot in Enum.GetValues<EquipmentSlot>() )
			{
				<EquipmentPanel 
					Slot=@slot 
					Container=@_container
				/>
			}
		</div>
	</div>

	@* Container inventory *@
	<div class="window">
		<div class="container">
			<ContainerDisplay 
				Container=@Character.Inventory 
				@ref=_container
			/>
		</div>
	</div>
</root>

@code {
	private Character Character => Character.Local;
	
	private ContainerDisplay _container;

	protected override int BuildHash() 
		=> HashCode.Combine( 
			Character.IsValid() 
		);
}
