HoverSlots {
    position: absolute;
    opacity: 0.5;
    background-color: red;
    display: none;
    pointer-events: none;

    &.visible {
        display: flex;
    }

    &.valid {
        background-color: green;
    }
}
