{
  "Actions": [
    {
      "Name": "Forward",
      "KeyboardCode": "W",
      "GamepadCode": "None",
      "GroupName": "Movement",
      "Title": null
    },
    {
      "Name": "Backward",
      "KeyboardCode": "S",
      "GamepadCode": "None",
      "GroupName": "Movement",
      "Title": null
    },
    {
      "Name": "Left",
      "KeyboardCode": "A",
      "GamepadCode": "None",
      "GroupName": "Movement",
      "Title": null
    },
    {
      "Name": "Right",
      "KeyboardCode": "D",
      "GamepadCode": "None",
      "GroupName": "Movement",
      "Title": null
    },
    {
      "Name": "Jump",
      "KeyboardCode": "space",
      "GamepadCode": "A",
      "GroupName": "Movement",
      "Title": null
    },
    {
      "Name": "Sprint",
      "KeyboardCode": "shift",
      "GamepadCode": "LeftJoystickButton",
      "GroupName": "Movement",
      "Title": null
    },
    {
      "Name": "Walk",
      "KeyboardCode": "alt",
      "GamepadCode": "None",
      "GroupName": "Movement",
      "Title": null
    },
    {
      "Name": "Crouch",
      "KeyboardCode": "ctrl",
      "GamepadCode": "B",
      "GroupName": "Movement",
      "Title": null
    },
    {
      "Name": "Primary",
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger",
      "GroupName": "Actions",
      "Title": null
    },
    {
      "Name": "Secondary",
      "KeyboardCode": "mouse2",
      "GamepadCode": "LeftTrigger",
      "GroupName": "Actions",
      "Title": null
    },
    {
      "Name": "Reload",
      "KeyboardCode": "r",
      "GamepadCode": "X",
      "GroupName": "Actions",
      "Title": null
    },
    {
      "Name": "Interact",
      "KeyboardCode": "e",
      "GamepadCode": "Y",
      "GroupName": "Actions",
      "Title": null
    },
    {
      "Name": "Voice",
      "KeyboardCode": "v",
      "GamepadCode": "None",
      "GroupName": "Other",
      "Title": null
    },
    {
      "Name": "Tertiary",
      "KeyboardCode": "MOUSE3",
      "GamepadCode": "None",
      "GroupName": "Actions",
      "Title": null
    },
    {
      "Name": "Inventory",
      "KeyboardCode": "tab",
      "GamepadCode": "None",
      "GroupName": "UI",
      "Title": ""
    }
  ],
  "__guid": "e7ebf92c-ecfe-4ba3-af49-8b64d40cfeaf",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}